

*{
   margin: 0;
   padding: 0;
}

nav{
    margin-top: 10px;
    padding: 30px;    
    background-color: #12122b;
    border-radius: 40px;
   
}

menu{
    margin-left: 966px;
    
}

menu ul{   
    margin-left: -290px;    
    position: absolute;   
    margin-top: -10px; 
    
    
    
}
menu ul li {
    padding: 20px;
    display:inline;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;   
    
}
   
  menu ul li a:active {
    color: #aa91a3;
    box-shadow: -1px -1px 1px #000;
     
    }

    a:link { color: black; }
    a:visited { color: #aaaa91; }


#eu{
    width: 180px;
    height: 220px;
    border-radius: 120px 130px 120px 30px;
    margin-right: 180px;
    float: right;
    margin-top: 20px;
    border-style: solid ;
    border-color:#aaaa91;
}
h1{
    margin-top: 60px;
    margin-left: 150px;
    float: left;
    color: #383845;
    font-family: 'Hind Siliguri', sans-serif;
    
    
}
h2{
   margin-top: 95px;
   margin-left:-275px ;
   float: left;
   color: #5e5e5e;
   font-family: 'Hind Siliguri', sans-serif;
   
   padding-top: 10px;
}

p{
    margin-top: 50px;
    margin-left: 150px;
    float: left;
    width: 980px;
    font-size: 24px;
    text-align: justify;
    color: #5e5e5e;
    font-family: 'Hind Siliguri', sans-serif;
}
main{
    max-width: 1320px;
    min-width: 320px;
    margin: auto;
}

aside{
    width: auto;
    height: 200px;
    background-color: #12122b;
    margin-top: 604px;
    
}

footer{
    width: auto;
    height: 50px;
    background-color:#aaaa91;
    margin-top: -20px;
}
footer h4{
    margin-top: 0px;
    color: #12122b;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
    
}

#inputs{
    text-align: cente;
}


/*@media screen and (min-width: 480px) {
}   

    h1{
        margin-top: 40px;
        margin-left: 80px;        
        color: #383845;
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 14px;
        
    }

    h2{
        margin-top: 0px;
        margin-left:80px ;
        float: left;
        color: #5e5e5e;
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 14px;        
     }

     #eu{
        width: 40%;
        border-radius: 120px 130px 120px 30px;
        margin-right: 150px;
        float: right;
        margin-top: 20px;
        border-style: solid ;
        border-color:#aaaa91;
    }
    p{
        margin-top: 50px;
        margin-left: 28px;
        float: left;
        width: 85%;
        font-size: 10px;
        text-align: justify;
        color: #5e5e5e;
        font-family: 'Hind Siliguri', sans-serif;
    }

    aside{
        width: auto;
        height: 100px;
        background-color: #12122b;
        margin-top: 700px;
        
    }
    
    footer{
        width: auto;
        height: 25px;
        background-color:#aaaa91;
        margin-top:00px;
    }
    footer h4{
        margin-top: 00px;
        color: #12122b;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        padding-top: 8px;
        
    }

}

    
}





